@import 'src/assets/css/variable';

.price {
  font-family: 'Rubik', sans-serif;
  font-size: px-to-rem(18);
  color: $primary;
}

.divider {
  margin: 40px -58px;

  @include media-breakpoint-down(lg) {
    margin: 40px -40px;
  }
  @include media-breakpoint-down(sm) {
    margin: 40px -22px;
  }
}

.paragraph {
  color: $grey;
  margin: 20px 0;
}

.reason {
  font-size: $p_font_size;
  color: $black;
}
.formCarrier {
  @include media-breakpoint-down(sm) {
    flex-direction: column !important;
  }
  .trackingForm {
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
