@import 'src/assets/css/variable';

.customModalConfirmDelete {
  width: 866px;
  @include media-breakpoint-down(lg) {
    width: 662px;
  }
}

.description {
  font-size: px-to-rem(22);
  line-height: 180%;
  color: $lightest-grey;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @media (max-width: 767px) {
    font-size: px-to-rem(16);
    padding-left: 13px;
  }
}

.wrapButton {
  margin-top: 36px;

  @media (max-width: 767px) {
    padding-left: 15px;
  }

  button {
    height: 65px !important;

    @include media-breakpoint-down(lg) {
      height: 55px !important;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      height: 51 !important;
      margin-left: unset !important;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }
}

.titleClassName {
  font-weight: 700;
  font-size: px-to-rem(46);
  line-height: 120%;
  color: $light-black;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(34);
  }
}

.icArrowLeftClassName {
  display: none;

  @media (max-width: 767px) {
    display: block;
    padding: 36px 18px;
  }
}

.mb22 {
  margin-bottom: 22px;
}

.formSize {
  height: 65px !important;

  @include media-breakpoint-down(lg) {
    height: 55px !important;
  }

  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
    padding: 10px;
    height: 52px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.titleField {
  font-weight: 500;
  font-size: px-to-rem(22);
  line-height: 120%;
  color: $light-black;
  height: 100%;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
  }
}

.wrapRadio {
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
    padding: 10px;
  }
}

.wrapSelect {
  @media (max-width: 767px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
