@import 'src/assets/css/variable';

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  :global(.label) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.wrapper {
  :global(.ReactVirtualized__List) {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($grey, 0.15);
      border-radius: 2px;
    }
  }
}
