@import 'src/assets/css/variable';

.fs22 {
  font-size: px-to-rem(22);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(16);
  }
}

.customModalConfirmDisconnectStripe {
  width: 588px;
  @include media-breakpoint-down(lg) {
    width: 473px;
  }
}

.description {
  @extend .fs22;
  line-height: 180%;
  color: $lightest-grey;

  @media (max-width: 767px) {
    padding-left: 13px;
  }
}

.wrapButton {
  margin-top: 36px;

  @media (max-width: 767px) {
    padding-left: 18px;
  }

  button {
    height: 65px !important;
    @extend .fs22;

    @include media-breakpoint-down(lg) {
      height: 55px !important;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      height: 52px !important;
      margin-left: unset !important;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }
}

.titleClassName {
  font-weight: 700;
  font-size: px-to-rem(46);
  line-height: 120%;
  color: $light-black;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(34);
  }
}

.icArrowLeftClassName {
  display: none;

  @media (max-width: 767px) {
    display: block;
    padding: 36px 18px;
  }
}
