@import 'src/assets/css/variable';

.status {
  font-size: $p_font_size;
  color: #72d299;
}

.text {
  color: $grey;
  font-size: $p_font_size;
}

.card {
  padding: 30px 40px;
  font-weight: 500;
  @include media-breakpoint-down(md) {
    padding: 28px 22px;
  }
}

.price {
  color: $primary;
  font-family: 'Rubik', sans-serif;
  font-size: $p_font_size;
  font-weight: normal;
}

.returnText {
  font-size: px-to-rem(18);
  font-weight: normal;
}

.serial {
  font-size: px-to-rem(14);
  color: $grey;
  font-weight: 500;
}

.productCard {
  padding: 30px 40px;
  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .detail {
    font-weight: 500;
    margin-left: 52px;

    @include media-breakpoint-down(lg) {
      margin: 22px 7px 22px 32px;
    }

    @include media-breakpoint-down(sm) {
      margin: 22px 7px 22px 7px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .quantity,
  .frameSize {
    color: $grey;
  }
}

.bicycleName {
  font-size: $p_font_size;
  font-weight: 500;
  margin-bottom: 0;
  display: inline-block;
}

.imageContainer {
  display: flex;

  align-items: center;

  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}

.image {
  height: 180px;
  width: 260px;
  min-width: 260px;
  min-height: 180px;
  object-fit: cover;
  border-radius: $card-border-radius;
  @include media-breakpoint-down(lg) {
    width: 212px;
    max-width: 212px;
    max-height: 212px;
  }
  @include media-breakpoint-down(md) {
    margin-left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.resizeBtn {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
}

.refundBtn {
  color: $red !important;
}

.customMenu {
  text-align: left;

  ul {
    padding: 0px 26px !important;

    li {
      white-space: nowrap;
      &:first-of-type {
        margin-top: 20px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

.title {
  color: $green;
}

.label {
  font-size: px-to-rem(18);
  line-height: px-to-rem(23);
  color: $grey;
  font-weight: 500;
  margin-top: 10px;
}
.value {
  font-size: px-to-rem(16);
  line-height: px-to-rem(19);
  margin-top: 10px;
}

.statusItem {
  color: $green;
  font-size: px-to-rem(16);
  line-height: px-to-rem(21);
  margin-left: 22px;
  text-transform: capitalize;
}
