@import 'src/assets/css/variable';

.bbbShipingOption {
  .dimensionWrapper {
    width: 85%;
    margin-top: 36px;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .checkbox {
    margin-top: 36px;
  }

  .title {
    margin-top: 45px;
  }

  .description {
    margin-top: 22px;
    color: $grey;
    font-size: px-to-rem(18);
    line-height: 180%;
  }

  .suffix {
    margin: auto;
    font-weight: 500;
    font-size: $p_font_size;
    color: $grey;
  }
}
.labelCheckbox {
  font-weight: 500;
  font-size: $p_font_size;
  color: $black;
}
