@import 'src/assets/css/variable';

.content.content {
  padding: 60px;
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
}

.form {
  margin-top: 30px;
}
.rememberCheckBox {
  margin: 40px 0;
}
.passwordInput {
}
.forgotPasswordText {
  white-space: nowrap;
  margin-top: 15px;
  justify-content: flex-end;
  a {
    font-size: 1.125rem;
    color: $grey;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.checkoutGuestDescription {
  font-weight: 500;
  font-size: px-to-rem(17);
  line-height: $p_font_size;
  color: $grey;
  margin-left: 20px;
}
