@import 'src/assets/css/variable';

.timeHeader {
  margin: 25px 0 25px;
}

.header {
  display: flex;
  justify-items: center;
  margin-bottom: 19px;
  font-weight: 500;
  font-size: px_to_rem(22);
  line-height: 120%;
  color: $grey;

  @include media-breakpoint-down(xs) {
    font-size: px_to_rem(16);
    margin-bottom: 16px;
  }
}

.textHeader {
  cursor: pointer;
}

.rowItem {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 18px;

  &.rowNotes {
    justify-items: unset !important;
    align-items: unset !important;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: unset;
  }
}

.card.card {
  padding: 40px 45px;

  @include media-breakpoint-down(sm) {
    padding: 25px 20px;
  }
}

.title {
  color: $black;
  font-weight: 500;
  font-size: px-to-rem(22);
  line-height: 120%;
  margin-bottom: 42px;
  @include media-breakpoint-down(xs) {
    font-size: px_to_rem(22);
    margin-bottom: 32px;
  }
}

.label {
  font-weight: 500;
  font-size: px_to_rem(22);
  line-height: 120%;

  &.lableNote {
    margin-top: 10px;
  }

  @include media-breakpoint-down(md) {
    font-size: px_to_rem(18);
  }
  @include media-breakpoint-down(xs) {
    font-size: px_to_rem(16);
    margin-top: 16px;
  }
}

.location {
  margin-bottom: 30px;
}

.onlyBtnSave {
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
}

.btnSave {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    display: block;
    justify-content: flex-end;
  }
}

.btnSaveMobile {
  margin-top: 28px;
  text-align: end;
}
