@import 'src/assets/css/variable';
@import 'src/assets/css/utilities';

.inputCounterWrapper {
  display: flex;
  margin: 0 -5px;
  .actionButton {
    @include reset-button;
    height: 65px;
    min-width: 65px;
    text-align: center;
    background: $input-bg;
    border-radius: 10px;
    margin: 0 5px;
    font-size: $h3_font_size;
    font-weight: lighter;
    color: $grey;

    @include media-breakpoint-down(xs) {
      min-width: 50px;
      height: 50px;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
  .input {
    flex: 1;
    padding: 0 5px;
    min-width: 50px;
    border: none;
    font-size: $p_font_size;
    color: $black;
    text-align: center;
    @include media-breakpoint-down(sm) {
      font-size: px-to-rem(16);
    }
    &:disabled {
      background: transparent;
    }
  }
}
