@import 'src/assets/css/variable';

.cover {
  @include media-breakpoint-between(sm, lg) {
  }

  @include media-breakpoint-down(sm) {
    padding-top: 100px;
    padding-bottom: 510+120px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-breakpoint-down(xs) {
    padding-bottom: 0px;
    background-size: calc(100% - 30px);
  }

  .sectionContainer {
    padding-top: 160px;
    z-index: 100;
    position: static;

    h2 {
      margin-bottom: 40px;
    }

    .wrapperCard {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 35px;
      @include media-breakpoint-down(xs) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 9px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0;
      h2 {
        //font-size: $h3_font_size;
      }
      p {
        font-size: px-to-rem(20);
      }
    }
  }

  .container {
    @include media-breakpoint-down(sm) {
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  .sectionCover {
    margin-bottom: 175px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0px;
    }
  }

  .heroCover {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
}

.wrapperPopUp {
  display: block;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  //background: #e0e5ec;
  .wrapperHeader {
    background: white;
    padding: 0px 30px;
    border-radius: 6px;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
  }

  .wrapperCard {
    //margin-bottom: 25px;
  }

  .wrapperContent {
    background: white;
    padding: 0px 30px;

    p {
      font-size: $p_font_size;
    }

    a {
      color: $primary;
      font-size: $p_font_size;
    }
  }
}

.sectionTab {
  ul {
    padding-left: 15px;

    color: $grey;
  }

  color: $grey;

  button {
    margin-top: 30px;
  }

  .tabPane {
    padding-top: 50px;
    cursor: pointer;

    .title {
      font-size: $p_font_size;
      margin: 0px;
      color: black;
      padding: 16px 0px;
    }

    .iconDrop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
    }
  }
}

.wrapper {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 10px;
  padding: 80px 0px;
  @include media-breakpoint-down(sm) {
    padding: 5px 0px;
  }
  .icon {
    margin: 15px 0px;

    height: 50px;
  }

  h2 {
    font-weight: 500;
    font-size: px-to-rem(22);
    line-height: 120%;
  }
}

.tabs {
  margin-bottom: 115px;

  .nav {
    border-bottom: none;
    margin-top: 10px;

    button {
      margintop: 30px;
    }

    .navItem {
      margin-left: 26px;

      &:nth-of-type(1) {
        margin-left: 0px;
      }
    }

    .navLink {
      padding-left: 0px;
      padding-right: 0px;
      font-size: px-to-rem(16);
      line-height: px-to-rem(19);
      opacity: 0.2;
      font-weight: 500;
      color: $black;
      cursor: pointer;
    }

    .active {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      border-bottom: px-to-rem(3) solid $primary;
    }

    .firstItem {
      margin-left: 0px;
    }
  }
}
.wrapperFAQ {
  margin-top: 40px;
  h2 {
    margin-bottom: 30px;
  }
}
