@import 'src/assets/css/variable';

.bikeName {
  font-weight: bold;
  font-size: $h1_font_size;
  line-height: 120%;
  color: $black;
  margin-top: 60px;
}

.headInformation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      height: 30px;
      margin-right: 15px;
    }
    font-size: $p_font_size;
    line-height: 180%;
    color: $black;
  }

  .shippingType {
    margin-left: 25px;
    color: $grey;
    font-size: $p_font_size;
    line-height: 180%;
  }
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 15px;
    }
    font-size: $p_font_size;
    line-height: 180%;
    color: $black;
    margin-left: 20px;
  }
}
