@import 'src/assets/css/variable';
@import 'src/assets/css/utilities';

.cardSearchBar {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  margin-bottom: 32px;
  padding: 28px !important;
  .inputSearch {
    margin-right: 16px;
    width: 100%;
  }
  .wrapInput {
    width: 100%;
    display: flex;
    margin-right: 16px;
    align-items: center;
  }
}

.dateRange {
  position: relative;
}

.dateRangePicker {
  position: absolute;
  right: 272px;
  z-index: 5;
  width: 318px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 34px 94px rgba(110, 119, 133, 0.25);
  border-radius: 6px;
  @include media-breakpoint-down(md) {
    width: 500px;
    right: 155px;
  }
  @include media-breakpoint-down(sm) {
    width: 300px;
    top: calc(100% - 10px);
    right: -10px;
  }
  @include media-breakpoint-down(xs) {
    z-index: 100;
  }

  .rdr-PredefinedRanges {
    display: none !important;
  }

  span.rdr-Day.is-selected.is-passive {
    background: #fff !important;
    color: rgb(42, 88, 117) !important;
  }

  .btn {
    font-size: px-to-rem(17);
    font-weight: 500;
  }

  .applyDate {
    color: $primary;
  }
}

.card {
  box-shadow: 0px 34px 94px rgba(110, 119, 133, 0.25);
  padding: 20px;
  text-align: center;
  max-width: 100%;
  color: $black;
  font-size: px-to-rem(16);
}

.hideWhenMobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.showWhenMobile {
  display: none !important;
  @include media-breakpoint-down(sm) {
    display: block !important;
  }
}
