@import 'src/assets/css/variable';

.title {
  color: $grey;
  font-weight: 500;
  font-style: normal;
}

.heading {
  width: 100%;
  margin: 0;

  .headerCol {
    padding: 0;
  }
}

.totalItem {
  color: $grey;
}

.wrapHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(sm) {
    display: unset;
  }

  h3 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  img {
    width: 285px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: unset;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 18px;
      height: 130px;
    }
  }
}
