@import 'src/assets/css/variable';

.stripeAccountSection {
  .title {
    font-weight: bold;
    font-size: $h3_font_size;
    margin-bottom: 28px;
  }
  .input {
    width: 50%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .button {
    margin-top: 18px;
    margin-left: 5px;
    color: $primary;
  }

  .note {
    font-weight: 500;
    margin-top: 28px;
    font-size: $p_font_size;
    color: $warning;
  }
}
