@import 'src/assets/css/variable';

.header {
  padding: 45px 49px;
  margin-bottom: 15px;
}
.back {
  margin-left: 10px;
}

.groupTotal {
  .title {
    font-size: $p_font_size;
    font-weight: bold;
  }
}
.productCard {
  padding: 30px 40px;
}

.lineError {
  color: $danger;
  font-size: px-to-rem(14);
  font-weight: normal;
}
.btnRefund {
  margin-top: 30px;
  text-align: right;
}
.calculateAmount {
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}
