@import '../../../../../assets/css/variable';
@import '../../../../../assets/css/utilities';

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}

.selectWrapper {
  flex-basis: 33.33%;
  padding: 0 4px;
  margin: 4px 0;
  .selectBox {
    @include reset-button;
    height: 34px;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba($grey, 0.2);
    border-radius: $select-border-radius;
    color: $grey;
    font-size: px-to-rem(17);
    font-weight: 500;
    text-align: center;
    width: 100%;
    &.checked {
      border: 1px solid $primary;
      background: $primary;
      color: $white;
    }
  }
}
