@import 'src/assets/css/variable';

.service {
  display: flex;
  flex-direction: column;

  height: 100%;

  .title {
    max-width: 90%;
    margin-top: 28px;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  .content {
    display: block;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }
  .description {
    color: $grey;
    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-left: 100px;
    }
  }
  .link {
    margin-top: 28px;
    color: $primary;
    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-left: 100px;
    }
  }

  .icon {
    min-width: 100px;
    width: 60px;
    height: 45px;

    @include media-breakpoint-down(md) {
      height: 50px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 50px;
    height: auto;
  }
}
