@import 'src/assets/css/variable';

.modal {
  max-width: 1051px;
  @include media-breakpoint-down(lg) {
    max-width: 80vw;
  }
  @include media-breakpoint-down(md) {
    max-width: 100vw;
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $white;
  }
  .title {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(34);
      line-height: px-to-rem(41);
    }
    width: 100%;
    margin-bottom: 0;
  }
  .content {
    padding: 70px 85px;

    @include media-breakpoint-down(sm) {
      height: 100%;
      padding: 5px 10px;
      position: relative;
      min-height: 100vh;
      border: none;
    }

    .body {
      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }

      .btn {
        margin-top: 46px;
        @include media-breakpoint-down(md) {
          float: right;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }

  .modalCloseBtn {
    padding: 0;
  }
}
