@import 'src/assets/css/variable';

.modal {
  max-width: 1433px;

  .selectCalulate {
    margin-bottom: 50px;
    display: flex;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      margin-bottom: 35px;
    }

    .radio {
      margin-left: 50px;
      @include media-breakpoint-down(lg) {
        margin-left: 0;
        margin-top: 14px;
      }
    }
    .customLabel {
      font-size: $p_font_size;
      font-weight: 500;
      color: $black;
    }
  }

  .formItem {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    .input {
      flex-grow: 1;
      @include media-breakpoint-down(lg) {
        margin-bottom: 14px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .label {
      width: 142px;
    }

    .paypalInput {
      width: 162px;
    }

    .value {
      color: $grey;
    }
    .groupFee {
      width: 100%;
    }
  }
  .desired {
    align-items: flex-start;
    .groupRadio {
      margin-bottom: 20px;
    }
  }

  .chartContainer {
    position: relative;
    width: 420px;
    height: 420px;
    @include media-breakpoint-down(lg) {
      width: 332px;
      height: 332px;
      margin: auto;
    }
    @include media-breakpoint-down(md) {
      width: 319px;
      height: 319px;
    }
  }
}

.chartLabelContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 25px;
  }

  .chartLabel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 26px;
    @include media-breakpoint-down(sm) {
      width: 50%;
      flex-direction: row-reverse;
    }

    .label {
      font-style: normal;

      font-weight: bold;
      font-size: px-to-rem(14);
      text-align: right;
      color: $medium-grey;

      letter-spacing: 0.24em;
      text-transform: uppercase;
    }

    .price {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: $p_font_size;
      line-height: 120%;

      @include media-breakpoint-down(sm) {
        float: left;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      margin-left: 20px;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }

  .salePrice {
    color: $primary;
    text-align: right;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .label {
      font-weight: bold;
      font-size: px-to-rem(14);

      text-align: right;
      letter-spacing: 0.24em;
      text-transform: uppercase;
    }

    .price {
      font-family: Rubik, sans-serif;
      font-size: px-to-rem(36);
      line-height: 120%;
      text-align: right;
      margin-top: 8px;
      @include media-breakpoint-down(sm) {
        float: left;
      }
    }
  }
}

.totalChart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 18px;

  .price {
    font-family: Rubik, sans-serif;

    font-size: px-to-rem(48);
    line-height: 120%;

    text-align: center;
  }

  .description {
    font-weight: 500;
    font-size: $p_font_size;
    text-align: center;
    color: $medium-grey;
    width: 130px;
    text-align: center;
  }
}
