@import 'src/assets/css/variable';

.wrapCardSearch {
  margin: 0;
  border-radius: unset;
  padding: 0 0 30px 0;

  @include media-breakpoint-down(lg) {
    padding: 0 0 28px 0;
  }
}

.searchButton {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.searchInput {
  flex-grow: 1;
}

.searchContainer {
  display: flex;
}

.customFormSize {
  min-height: 65px !important;
  max-height: 65px !important;
  font-size: px-to-rem(22);

  @include media-breakpoint-down(lg) {
    min-height: 55px !important;
    max-height: 55px !important;
    font-size: px-to-rem(18);
  }

  @include media-breakpoint-down(sm) {
    min-height: 52px !important;
    max-height: 52px !important;
  }
}
