@import 'src/assets/css/variable';

.wrapItem {
  border-bottom: 1px solid rgba(130, 141, 155, 0.1);
  margin-bottom: 30px;
  padding-bottom: 30px;
  z-index: 99999999 !important;

  @include media-breakpoint-down(lg) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 28px;
    padding-bottom: 25px;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: unset;
    margin-bottom: unset;
  }
}

.text22 {
  font-size: px-to-rem(22);
  line-height: 180%;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @include media-breakpoint-down(sm) {
    font-size: px-to-rem(16);
  }
}

.text18 {
  font-size: px-to-rem(18);
  line-height: 180%;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(16);
  }
}

.text18Blue {
  @extend .text18;
  color: $primary;
  cursor: pointer;
}

.linkButton {
  // @include reset-button;
  @extend .text18;
  color: $primary;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.linkButtonAfterClick {
  @extend .text18;
  color: $lightest-grey;
}

.text18LightBlack {
  @extend .text18;
  color: $light-black;
}

.text18Grey {
  @extend .text18;
  color: $lightest-grey;
}

.wrapColLeft {
  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.wrapColRight {
  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.mobileFlexEnd {
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: flex-end;
  }
}

.title {
  @extend .text22;
  color: $light-black;

  @include media-breakpoint-down(sm) {
    min-width: 55px;
  }
}

.description {
  @extend .text22;
  color: $lightest-grey;
}

.mb13 {
  margin-bottom: 13px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;
  }
}

.mt12 {
  margin-top: 12px;
}

.cp {
  cursor: pointer;
}

.isRotate180 {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.itemDetailInfo {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: unset;
  }
}
