@import 'src/assets/css/variable';

.commentItem {
  &:not(:first-of-type) {
    margin-top: 50px;
  }

  .avatar {
    width: 74px;
    height: 74px;
    @include media-breakpoint-down(lg) {
      width: 64px;
      height: 64px;
    }
    @include media-breakpoint-down(sm) {
      width: 52px;
      height: 52px;
    }
    border-radius: 50%;
    border-radius: 50%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    font-family: DM Sans;
    word-break: break-word;
  }
  .comment {
    font-family: DM Sans;
    font-size: $p_font_size;
    margin-bottom: 0;
    margin-right: 26px;
    word-break: break-word;
  }
  .rating {
    min-width: 76px;
    width: 76px;
    height: 37px;
    border-radius: 40px;

    color: $white;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 6px;
    }
    span {
      font-size: $p_font_size;
      line-height: px-to-rem(26);
    }
  }
  .paragraph {
    color: $grey;
    font-size: $p_font_size;
    word-break: break-word;
  }
}
