@import 'src/assets/css/variable';

.formItem {
  &:nth-of-type(1) {
    margin-top: 36px;
  }
  margin-top: 18px;
  .required:after {
    content: ' *';
    color: #c8cacd;
    margin-left: 2px;
  }
}
.contentTitle {
  &:nth-of-type(1) {
    margin-top: 40px;
  }
  margin-top: 44px;
}

.label_col {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    margin-bottom: 12px;
  }
}
.input_col {
  align-items: right;
  @include media-breakpoint-up(lg) {
    padding-left: 15px;
  }
}
.input {
  max-width: 485px;
  width: 100%;
}

.btn {
  float: left;
  margin-top: 48px;
  @include media-breakpoint-down(sm) {
    position: absolute;
    right: 0;
  }
}

.divider {
  margin-top: 40px;
  margin-left: -20px;
  margin-right: -20px;
  @include media-breakpoint-up(md) {
    margin-left: -53px;
    margin-right: -53px;
  }
  @include media-breakpoint-down(sm) {
    // display: none;
    margin-top: 20px;
  }
}

.selectQuestion {
  margin-top: 44px;
  .radioWrapper {
    margin-top: 26px;
  }
}

.brandItem {
  margin-top: 36px;
}

.radioLabel {
  font-size: $p_font_size;
  color: $black;
}
