@import 'src/assets/css/variable';

.container {
  overflow: hidden;
  align-items: center;
  padding: 84px 50px;
  @include media-breakpoint-down(xs) {
    padding: 84px 28px;
  }
  .header {
    p {
      font-size: $p_font_size;
      color: $grey;
      margin: 31px 0px 68px;
      @include media-breakpoint-down(xs) {
        margin: 26px 0px 38px;
      }
    }
  }
}
