@import '../../../assets/css/variable';

.footerModelCropImage {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .btnSave {
    background: $primary;
    margin-right: 16px;
  }

  .btnCancel {
    background: $white;
    color: $grey;
    border: solid 1px $grey;
  }
}

.cropImage {
  width: 100% !important;
  height: 400px !important;
  margin: auto;
  @include media-breakpoint-down(sm) {
    width: 100% !important;
    height: 260px !important;
  }
}
