@import 'src/assets/css/variable';

.badge {
  min-width: max-content;
  background: $primary;
  border-radius: 42px;
  font-weight: 700;
  font-size: px-to-rem(14);
  text-align: center;
  color: $white;
  height: 32px;
  margin-left: 10px;
  padding: 0 15px;
  line-height: 32px;
  @include media-breakpoint-down(sm) {
    margin: 0;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
  }
}
