@import 'src/assets/css/variable';

.mainLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  .footer {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.mainContent {
  width: 100%;
  flex: 1;
  background-color: $light-grey;
  align-items: center;
  padding-top: 90px;
  @include media-breakpoint-up(lg) {
    padding-top: 138px;
    padding-bottom: 84px;
  }
}
