@import 'src/assets/css/variable';

.fs60 {
  font-size: px-to-rem(60);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(48);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(34);
  }
}

.fs46 {
  font-size: px-to-rem(46);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(34);
  }
}

.fs24 {
  font-size: px-to-rem(24);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(16);
  }
}

.fs22 {
  font-size: px-to-rem(22);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(16);
  }
}

.customCard {
  border-radius: 10px;
  padding: 60px;
  background: white;

  @include media-breakpoint-down(lg) {
    padding: 46px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 22px;
  }

  @include media-breakpoint-down(sm) {
    padding: 22px;
    margin-bottom: 22px;
  }

  .headerDescription {
    @extend .fs22;
    line-height: 180%;
    margin-bottom: 34px;
    color: $lightest-grey;

    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 22px;
    }
  }

  .customRow {
    margin-bottom: 4px;

    .customCol {
      margin-bottom: 46px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 22px;
      }
    }
  }

  .wrapBottom {
    display: flex;
    align-items: center;

    div {
      font-weight: 500;
      @extend .fs22;
      line-height: 120%;
      color: $light-black;
      margin-left: 32px;

      span {
        margin-left: 5px;
        color: $primary;
      }
    }
  }

  .title {
    font-size: px-to-rem(24);
    margin-bottom: 32px;
    font-weight: 700;
    line-height: 120%;
    color: $light-black;

    @include media-breakpoint-down(lg) {
      font-size: px-to-rem(22);
    }
  }
}

.formTitle {
  margin-bottom: 14px;
  font-weight: 500;
  @extend .fs22;
  line-height: 120%;
  color: $light-black;
}

.customInputNumber::-webkit-outer-spin-button,
.customInputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.customInputNumber[type='number'] {
  -moz-appearance: textfield;
}

.customSuffix {
  font-weight: 500;
  @extend .fs22;
  line-height: 23px;
  color: $lightest-grey;
}

.customButtonSize {
  @extend .fs22;
  font-weight: 500;
  min-height: 65px !important;
  max-height: 65px !important;

  @include media-breakpoint-down(lg) {
    min-height: 55px !important;
    max-height: 55px !important;
  }

  @include media-breakpoint-down(sm) {
    min-height: 52px !important;
    max-height: 52px !important;
  }
}
