@import 'src/assets/css/variable';

.wrap {
  width: 56px;
  height: 56px;
  border: 0.848485px solid #ebeff5;
  border-radius: 8.48485px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $light-grey;
  }
  .icon {
    width: 22px;
    height: 22px;
  }
}
