@import 'src/assets/css/variable';

.content {
  padding: 60px 85px 0px;
  @include media-breakpoint-down(lg) {
    padding: 60px 0px 30px 0px;
    position: relative;
  }

  .label {
    font-size: $p_font_size;
    font-weight: 500;
    color: $black;
    margin-bottom: 0px;
  }

  .buttonSuffix {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
  }
}
