@import 'src/assets/css/variable';

.customModalConfirmDelete {
  width: 866px;
  @include media-breakpoint-down(lg) {
    width: 662px;
  }
}

.description {
  font-size: px-to-rem(22);
  line-height: 180%;
  color: $lightest-grey;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @media (max-width: 767px) {
    font-size: px-to-rem(16);
    padding-left: 13px;
  }
}

.wrapButton {
  margin-top: 36px;

  @media (max-width: 767px) {
    padding-left: 15px;
  }

  button {
    height: 65px !important;

    @include media-breakpoint-down(lg) {
      height: 55px !important;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      height: 51 !important;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }
}

.titleClassName {
  font-weight: 700;
  font-size: px-to-rem(46);
  line-height: 120%;
  color: $light-black;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(34);
  }
}

.icArrowLeftClassName {
  display: none;

  @media (max-width: 767px) {
    display: block;
    padding: 36px 18px;
  }
}

.mb22 {
  margin-bottom: 22px;

  @media (max-width: 767px) {
    margin-bottom: unset;
  }
}

.formSize {
  height: 65px !important;

  @include media-breakpoint-down(lg) {
    height: 55px !important;
  }

  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
    padding: 10px;
    height: 52px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.titleField {
  font-weight: 500;
  font-size: px-to-rem(22);
  line-height: 120%;
  color: $light-black;
  height: 100%;
  // display: flex;
  // align-items: center;
  margin-top: 23px;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
  }
}

.wrapRadio {
  @media (max-width: 767px) {
    padding-left: 13px;
    font-size: px-to-rem(16);
    padding: 10px;
  }
}

.wrapSelect {
  @media (max-width: 767px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mr34 {
  margin-right: 34px;
}

.smartText {
  font-weight: 500;
  font-size: px-to-rem(22);
  line-height: 120%;
  margin-top: 14px;
  margin-bottom: 21px;
  color: $lightest-grey;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
    margin-top: 16px;
    margin-bottom: 22px;
  }
  @media (max-width: 767px) {
    font-size: px-to-rem(16);
  }
}

.wrapMobileContainer {
  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

.customHr {
  border: 1px solid rgba(110, 119, 133, 0.1);
  margin: 65px 0;

  @include media-breakpoint-down(lg) {
    margin: 50px 0;
  }
  @media (max-width: 767px) {
    margin: 36px 0;
  }
}

.wrapBrandsCarried {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  margin-top: 18px;

  &:first-child {
    margin-top: unset;
  }

  &:last-child {
    margin-bottom: 12px;
  }

  .brandsCarried {
    width: 90%;

    @media (max-width: 767px) {
      width: 85%;
      margin-left: 10px;
    }
  }
}

.imgDelete {
  width: 20px;
  display: 'inline-block';
  margin-left: 5%;
  cursor: pointer;
}

.addBrandText {
  font-weight: 500;
  font-size: px-to-rem(15);
  line-height: 20px;
  color: $primary;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
