@import 'src/assets/css/variable';

.detail {
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: $p_font_size;
  @include media-breakpoint-down(lg) {
    padding: 10px 10px 20px;
  }

  .label {
    color: $black;
    font-weight: 500;
    width: 50%;
    padding-right: 10px;
    display: flex;
  }

  .buttonInfo {
    color: $primary;
    width: auto;
    margin-left: 5px;
    height: auto;

    .iconInfo {
      width: 20px;
      height: 20px;
      align-self: center;
      margin-left: 10px;
    }
  }

  .value {
    color: $grey;
    width: 50%;
    padding-left: 10px;
    display: flex;
  }
}

.detail.transparent {
  background-color: transparent;
}

.detail.white {
  background-color: $white;
  @include media-breakpoint-down(lg) {
    background-color: transparent;
  }
}

.noteToCustomer {
  font-size: $p_font_size;
  color: $grey;
  line-height: 180%;
  margin-bottom: 50px;
  margin-top: 50px;

  &.fixpaddingNotetoCustomer {
    margin-top: unset;
  }
  .label {
    font-weight: 500;
    color: $black;
  }
  @include media-breakpoint-down(lg) {
    margin-top: 69px;
  }
}

.noteToCustomerDes {
  font-size: $p_font_size;
  color: $grey;
  line-height: 180%;
  margin-bottom: 50px;
  .label {
    font-weight: 500;
    color: $black;
  }
}

.btnReport {
  margin: 37px 0px 165px 0px;
  img {
    margin-right: 14px;
  }
  @include media-breakpoint-down(sm) {
    margin: 21px 0px 92px 0px;
  }
}

.customDescription {
  font-family: 'DM Sans', sans-serif !important;
  font-size: px-to-rem(22);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
