@import 'src/assets/css/variable';

.modal {
  max-width: 1090px;
  @include media-breakpoint-down(sm) {
    height: auto;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $white;
  }
  .wrapHeader {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .title {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(34);
      line-height: px-to-rem(41);
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 22px;
    }
  }
  .content {
    padding: 70px 85px;

    @include media-breakpoint-down(sm) {
      height: 100%;
      padding: 15px 20px;
      position: relative;
      min-height: 100vh;
      border: none;
    }
    @include media-breakpoint-up(md) {
      max-height: 88vh;
      overflow-y: auto;
    }
    .body {
      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }

      .btn {
        margin-top: 46px;
        @include media-breakpoint-down(md) {
          float: right;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }

  .modalCloseBtn {
    padding: 0;
  }
}

.select {
  @include media-breakpoint-up(md) {
    margin-left: 66px;
    width: 291px;
  }
}

.btnClose {
  position: absolute;
  top: 86px;
  right: 76px;
}
