@import 'src/assets/css/variable';

.fs60 {
  font-size: px-to-rem(60);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(48);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(34);
  }
}

.fs46 {
  font-size: px-to-rem(46);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(34);
  }
}

.fs22 {
  font-size: px-to-rem(22);

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(18);
  }
  @include media-breakpoint-down(xs) {
    font-size: px-to-rem(16);
  }
}

.customModalSize {
  width: 1093px;
  @include media-breakpoint-down(lg) {
    width: 1093px;
  }
}

.paddingContentClassName {
  padding: 61px !important;

  @include media-breakpoint-down(lg) {
    padding: 42px !important;
  }
  @include media-breakpoint-down(sm) {
    padding: 16px !important;
  }
}

.titleClassName {
  font-weight: 700;
  font-size: px-to-rem(46);
  line-height: 120%;
  color: $light-black;
  margin-bottom: 0 !important;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(37);
  }
  @include media-breakpoint-down(sm) {
    font-size: px-to-rem(34);
  }
}

.customModalBody {
  padding-top: 12px !important;

  @include media-breakpoint-down(sm) {
    padding-top: 12px !important;
  }
}

.title {
  font-weight: 700;
  @extend .fs22;
  line-height: 120%;
  color: $light-black;
  margin-bottom: 37px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 26px;
  }
  @include media-breakpoint-down(sm) {
    font-size: px-to-rem(22);
  }
}

.icArrowLeftClassName {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    margin-bottom: 28px;
  }
}

.wrapDescription {
  margin-bottom: 45px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 36px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: unset;
    }

    img {
      min-width: 23.86px;
      max-width: 23.86px;
      min-height: 16.59px;
      max-height: 16.59px;
      margin-right: 20.41px;
      padding-bottom: 2px;
    }
    span {
      @extend .fs22;
      line-height: 180%;
      color: $lightest-grey;
    }
  }
}

.wrapBottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;

  @include media-breakpoint-down(sm) {
    margin-top: unset;
    align-items: center;
  }
}

.customButtonSize {
  @extend .fs22;
  font-weight: 500;
  min-height: 65px !important;
  max-height: 65px !important;

  @include media-breakpoint-down(lg) {
    min-height: 55px !important;
    max-height: 55px !important;
  }

  @include media-breakpoint-down(sm) {
    min-height: 52px !important;
    max-height: 52px !important;
  }
}

.mr20 {
  margin-right: 20px;
}

.isLargeScreen {
  display: block;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.isSmallScreen {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.btnBack {
  font-size: px-to-rem(16);
  line-height: 21px;
  color: $lightest-grey;
  cursor: pointer;
}
