@import 'src/assets/css/variable';

.container {
  padding: 0px;
  min-width: 1320px;
  @include media-breakpoint-down(lg) {
    padding: 0px 60px !important;
    min-width: 100%;
  }
  @include media-breakpoint-down(md) {
    padding: 0px 28px !important;
  }
}
