@import 'src/assets/css/variable';

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isRotate180 {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.wrapHeader {
  display: flex;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  .wrapAvatar {
    border: 4px solid $white;
    height: 179px;
    filter: drop-shadow(0px 34px 94px rgba(110, 119, 133, 0.25));
    border-radius: 50%;
    min-width: 179px;
    max-width: 179px;
    min-height: 179px;
    max-height: 179px;
    margin-right: 56px;

    @include media-breakpoint-down(lg) {
      min-width: 108px;
      max-width: 108px;
      min-height: 108px;
      max-height: 108px;
      height: 108px;
      margin-right: 59px;
      border: 2.85086px solid $white;
    }

    @include media-breakpoint-down(xs) {
      min-width: 67.86px;
      max-width: 67.86px;
      min-height: 67.86px;
      max-height: 67.86px;
      height: 67.86px;
      margin-right: unset;
      border: 1.51646px solid $white;
      position: relative;
      left: 45%;
      margin-bottom: 14px;
      display: flex;
    }

    img {
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .wrapInfomation {
    .wrapTitle {
      display: flex;
      margin-bottom: 26px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 14.14px;
        justify-content: center;
      }

      .title {
        font-weight: bold;
        font-size: px-to-rem(46);
        line-height: 120%;
        color: $light-black;

        @include media-breakpoint-down(lg) {
          font-size: px-to-rem(37);
        }

        @include media-breakpoint-down(lg) {
          font-size: px-to-rem(22);
        }
      }

      .isVerify {
        @extend .row-center;
        background: $warning;
        border-radius: 42px;
        font-weight: bold;
        font-size: px-to-rem(14);
        line-height: 18px;
        text-align: center;
        color: $white;
        width: 86px;
        height: 25px;
        margin-left: 18px;

        @include media-breakpoint-down(lg) {
          height: 14px;
          width: 60px;
        }
      }
    }

    .wrapAddress {
      display: flex;
      margin-bottom: 27.54px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24.27px;
      }

      @media (max-width: 819px) {
        flex-direction: column;
      }

      .address {
        margin-right: 27.27px;

        @include media-breakpoint-down(lg) {
          margin-right: 19px;
        }

        @media (max-width: 819px) {
          margin-bottom: 9px;
        }

        @include media-breakpoint-down(xs) {
          display: flex;
          justify-content: center;
          margin-right: unset;
        }

        ._icLocationBlue {
          margin-right: 16.79px;

          @include media-breakpoint-down(lg) {
            width: 15.24px;
            height: 18px;
            margin-right: 11.76px;
          }

          @include media-breakpoint-down(xs) {
            display: none;
          }
        }
      }
      .wrapEmailPhone {
        display: flex;

        @include media-breakpoint-down(xs) {
          justify-content: center;
        }

        .wrapEmail {
          margin-right: 31.09px;

          @include media-breakpoint-down(lg) {
            margin-right: 22px;
          }

          @include media-breakpoint-down(xs) {
            margin-right: 14px;
          }

          ._icEmailBlue {
            margin-right: 13.37px;

            @include media-breakpoint-down(lg) {
              width: 20px;
              height: 16px;
              margin-right: 9px;
            }

            @include media-breakpoint-down(xs) {
              display: none;
            }
          }
        }

        .wrapPhone {
          ._icPhoneBlue {
            margin-right: 17.09px;

            @include media-breakpoint-down(lg) {
              width: 14px;
              height: 18px;
              margin-right: 12px;
            }

            @include media-breakpoint-down(xs) {
              display: none;
            }
          }
        }
      }
    }

    .wrapMoreInfo {
      @extend .row-center;
      margin-top: -3.27px;
      margin-bottom: 9px;

      span {
        font-weight: 500;
        font-size: px-to-rem(16);
        line-height: 180%;
        color: $primary;
        margin-right: 14px;
      }
    }

    .wrapDescription {
      font-size: px-to-rem(22);
      line-height: 180%;
      color: $lightest-grey;

      @include media-breakpoint-down(lg) {
        font-size: px-to-rem(18);
      }

      @include media-breakpoint-down(xs) {
        font-size: px-to-rem(16);
      }
    }
  }
}

.headerText {
  font-weight: 500;
  font-size: px-to-rem(18);
  line-height: 120%;
  text-align: right;
  color: $light-black;

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(14);
  }

  @include media-breakpoint-down(lg) {
    font-size: px-to-rem(12);
  }
}

.customEmail {
  display: contents;
}
