@import 'src/assets/css/variable';

.contentModal {
  padding: 45px;
  text-align: center;
}
.btnSubmit {
  margin-top: 20px auto;
}
.mailInfo {
  margin: 20px 0px;
}
.titleBike {
  color: $primary;
}
