@import 'src/assets/css/variable';

.container {
  padding: 58px;
  @include media-breakpoint-down(sm) {
    padding: 28px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    img {
      margin-right: 12px;
    }
    .btnBack {
      font-weight: 500;
      font-size: px-to-rem(22);
      color: $black;
    }
    .title {
      font-weight: bold;
      font-size: $h3_font_size;
    }
    @include media-breakpoint-down(sm) {
      display: block;
    }
    .showMobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    .hiddenMobile {
      display: block;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
